@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #f8f9fb;
}

.footer_bottom h3 {
  font-family: "Open Sans", sans-serif;
}

.icon-white {
  fill: white;
}

html {
  scroll-behavior: smooth;
}
